<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.livestreamsales">

    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
    </queries>

    <application
        android:name=".application.LiveStreamSalesApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveStreamSales">

        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:theme="@style/Theme.LiveStreamSales.SplashScreen"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activity.greeting.GreetingActivity"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".ui.activity.main.MainActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.activity.authorization.AuthorizationActivity"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>